= link_to "#", class: "btn-audition-block" do
  .audition_block
    .audition_block__title
      = icon('far', 'file-alt')
      Audition
    .audition_block__sub-title
      オーディションについて
    .audition_block__list
      Talent･Model･Artist･Actor･Actress
      