.footer
  .footer__contents
    .footer__contents__contact
      .footer__contents__contact__title
        Contact
      .footer__contents__contact__number
        = icon('fas', 'phone-alt')
        0120-117-117
      .footer__contents__contact__mail
        = icon('fas', 'envelope')
        問い合わせ

    .footer__contents__access
      .footer__contents__access__title
        Access
      .footer__contents__access__address-box
        .footer__contents__access__address-box__company.footer-address
          コロンコロン株式会社
        .footer__contents__access__address-box__address.footer-address
          〒107-0052　東京都港区赤坂2-15-8メインステージ赤坂302
        .footer__contents__access__address-box__number.footer-address
          TEL03-6427-1688 FAX03-6427-1699
        .footer__contents__access__address-box__train.footer-address
          各線　渋谷駅より徒歩10分
          JR山手線　原宿駅より徒歩10分
          東京メトロ千代田線・副都心線　明治神宮前駅より徒歩7分
        .footer__contents__access__address-box__english
          6-17-10 HarajukuR Bld.8F, Jingumae, Shibuya-ku, Tokyo, 150-0001, Japan

      %iframe{:allowfullscreen => "", "aria-hidden" => "false", :frameborder => "0", :height => "300", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.2281677690335!2d139.73556595130802!3d35.67138343802122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b86c623ffff%3A0x2712f9000b7837f1!2z44Oh44Kk44Oz44K544OG44O844K46LWk5Z2C!5e0!3m2!1sja!2sjp!4v1588794622792!5m2!1sja!2sjp", :style => "border:0;", :tabindex => "0", :width => "700"}
