.footer
  .footer__contents
    .footer__contents__contact
      .footer__contents__contact__title
        Contact
      .footer__contents__contact__number
        = icon('fas', 'phone-alt')
        0120-117-117
      .footer__contents__contact__mail
        = icon('fas', 'envelope')
        問い合わせ

    .footer__contents__access
      .footer__contents__access__title
        Access
      .footer__contents__access__address-box
        .footer__contents__access__address-box__company.footer-address
          コロンコロン
        .footer__contents__access__address-box__address.footer-address
          〒150-0001　東京都渋谷区神宮前6-17-10　原宿アールビル8階
        .footer__contents__access__address-box__number.footer-address
          TEL03-6427-1688 FAX03-6427-1699
        .footer__contents__access__address-box__train.footer-address
          各線　渋谷駅より徒歩10分
          JR山手線　原宿駅より徒歩10分
          東京メトロ千代田線・副都心線　明治神宮前駅より徒歩7分
        .footer__contents__access__address-box__english
          6-17-10 HarajukuR Bld.8F, Jingumae, Shibuya-ku, Tokyo, 150-0001, Japan
