.footer
  .footer__contents
    .footer__contents__contact
      .footer__contents__contact__title
        Contact
      .footer__contents__contact__number
        = icon('fas', 'phone-alt')
        0120-117-117
      .footer__contents__contact__mail
        = icon('fas', 'envelope')
        問い合わせ

    .footer__contents__access
    
