.home_contents__box__right__news
  .home_contents__box__right__news__block
    .home_contents__box__right__news__block__title
      %i.far.fa-newspaper.fa-1em.home_contents__box__right__news__block__title__icon
      .home_contents__box__right__news__title__block__text News
    .home_contents__box__right__news__block__article
      - @news.each do |n|
        .home_contents__box__right__news__block__article__category
          %span 
            = n.category
        .home_contents__box__right__news__block__article__text 
          = "高村義文 | #{n.text}"
          -# ＜岡本莉音＞2020.5.1「Seventeen」2020年6月号
    .home_contents__box__right__news__block__bottom
      = link_to "もっと見る", news_index_path, class: "home_contents__box__right__news__block__bottom__news-link"
