.home_contents
  .home_contents__box
    .home_contents__box__left
      .home_contents__box__left__topic
    .home_contents__box__right
      = render 'home_contents-slide'
      = render 'home_contents-news'