.swiper-container
  .swiper-wrapper
    .swiper-slide
      = image_tag 'model1.jpeg', class: "swiper-slide"
    .swiper-slide
      = image_tag 'model2.jpeg', class: "swiper-slide"
    .swiper-slide
      = image_tag 'model3.jpeg', class: "swiper-slide"
    .swiper-slide
      = image_tag 'model4.jpeg', class: "swiper-slide"

  / If we need pagination
  .swiper-pagination





