
.home_contents__box__right__slider
  .home_contents__box__right__slider__wrapper
    %ul
      %li
        = image_tag 'model1.jpeg', class: "slide-item"
      %li
        = image_tag 'model2.jpeg', class: "slide-item"
      %li
        = image_tag 'model3.jpeg', class: "slide-item"



