.menu-side-container
  = link_to "#", class: "btn-menu-side-container" do
    .menu-side-container__news-box
      .menu-side-container__news-box__new
        = icon('far', 'newspaper')
        News
      .menu-side-container__news-box__icon
        = icon('fas', 'chevron-right')
