.twitter_timeline
  %a.twitter-timeline{"data-height" => "500", "data-theme" => "light", :href => "https://twitter.com/AbeShinzo?ref_src=twsrc%5Etfw"} Tweets by AbeShinzo
  %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
