.audition-wrapper {
  padding: 1% 0;
  background-color: $backGray;
  &__title {
    padding: 3% 0 1% 0;
    font-size: x-large;
    font-weight: bold;
    color: $mainRed;
    width: 950px;
    margin: 0 auto;
  }
  &__sub-title {
    font-size: small;
    width: 950px;
    margin: 1% auto;
    padding-bottom: 1%;
  }
  &__contents {
    margin-top: 2%;
    width: 950px;
    margin: 0 auto 3%;
    &__title {
      font-size: large;
      font-weight: bold;
      width: fit-content;
      background-color: $backWhite;
      padding: 1% 5%;
      border-radius: 10px 10px 0 0;
    }
    &__title::after {
      content: 'への応募';
      font-size: small;
      font-weight: 500;
    }
    &__main {
      background-color: $backWhite;
      padding: 3%;
      dl {
        display: table;
        width: 100%;
        border-top: 1px solid #e0e0e0;
        dt {
          display: table-cell;
          box-sizing: border-box;
          width: 20%;
          padding: 30px;
          font-weight: bold;
        }
        dd {
          font-size: small;
          .audition-wrapper__contents__main__text {
            margin-bottom: 3%;
            .mail-link {
              color: $mainRed;
            }
          }
          .audition-wrapper__contents__main__title {
            font-weight: bold;
            margin-bottom: 0.5em;
          }
          ul.audition-wrapper__contents__main__list {
            margin-bottom: 1.5em;
          }
          li {
            margin-bottom: 0.2em;
          }
        }
      }
    }
  }
}