= render 'homes/header'
.audition-wrapper
  .audition-wrapper__title
    Audition
  .audition-wrapper__sub-title
    コロンコロン株式会社では、常に新人募集を行っております。 俳優・モデル・タレント・アーティストを目指し、頑張りたい方のご応募をお待ちしております。
  .audition-wrapper__contents
    .audition-wrapper__contents__title
      タレント

= render 'homes/footer'